.access-denied-p {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.application-m {
  color: #E0FFFF;
  font-size: 20px;
  font-weight: 400;
}

.errorlist !important {
  color: red;
}
