{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block head %}
<head>
    <title>Страница не найдена</title>
</head>
{% endblock %}
<body>
{% block content %}

    <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Упс... Кажется такой страницы нет :(</h2>
          <span><a href="{% url 'index' %}">Home</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="author-page">
      <center>
      <div class="buttons">
            <div class="main-button">
              <a href="{% url 'index' %}">На главную</a>
            </div>
          </div>
      </center>
  </div>
{% endblock %}
</body>
</html>