<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block head %}
<head>
  <title>{{ d_person.person.first_name }} {{ d_person.person.last_name }}</title>
</head>
{% endblock%}

{% block content %}
<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Forbes Remake</h6>
          <h2>Подробная информация</h2>
          <span><a href="{% url 'index' %}">Home</a> > {{ d_person.person.first_name }} {{ d_person.person.last_name }}</span>
          <div class="buttons">
            <div class="main-button">
              <a href="#item-detail">Изучить</a>
            </div>

            {% if request.user.status >= 2 or request.user.is_admin %}
            <div class="border-button">
              <a href="{% url 'update' d_person.person.id %}">Обновить информацию</a>
            </div>

            <div class="border-button">
              <a href="{% url 'delete' d_person.person.id %}">Удалить</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page" id="item-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>{{ d_person.person.first_name }} {{ d_person.person.last_name }}</h1>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="{{ d_person.person.photo.url }}" alt=""
                 style="border-radius: 20px; max-width: 750px; max-height: 1100px">
          </div>
        </div>
        <div class="col-lg-5 align-self-start">
          <p>
            <strong>{{ d_person.person.short_description }}</strong><br><br>
            {{ d_person.full_description }}
          </p>
          <div class="row">
            <div class="col-3">
              <span class="bid">
                Текущее состояние:<br><strong>{{ d_person.financial_state }}</strong><br>
              </span>
            </div>
            <div class="col-4">
              <span class="owner">
                Возраст:<br><strong>{{ d_person.person.age }}</strong><br>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
{% endblock %}
</html>