<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block head %}
<head>
  <title>Регистрация</title>
</head>
{% endblock %}

<body>
{% block content %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Регистрация</h2>
          <span><a href="{% url 'index' %}">Home > </a>Register</span>
          <div class="buttons">
            <div class="main-button">
              <a href="#register">Перейти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="author-page" id="register">
    <div class="container">
      <div>
        <center>
          <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Зарегистрироваться</button>
          </form>
        </center>
      </div>
    </div>
  </div>
{% endblock %}
  </body>
</html>